@import "tailwindcss";

@theme {
  --font-family: "Rubik", sans-serif;
  
  /* Ranglar */
  --color-primary-dark: #1F2945;
  --color-primary-blue: #0ea5e9;
  --color-bg-light: #F8F9FC;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg-light);
  color: #1e293b;
}

/* Scrollbarni yashirish uchun utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}